[submodule "submodules/catppuccin-hyprland"]
	path = submodules/catppuccin-hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "submodules/catppuccin-rofi"]
	path = submodules/catppuccin-rofi
	url = https://github.com/catppuccin/rofi
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/emojipicker"]
	path = submodules/emojipicker
	url = https://github.com/mekb-turtle/emojipicker
[submodule "submodules/hyprland-screenshot"]
	path = submodules/hyprland-screenshot
	url = https://github.com/mekb-turtle/hyprland-screenshot
[submodule "submodules/catppuccin-kvantum"]
	path = submodules/catppuccin-kvantum
	url = https://github.com/catppuccin/kvantum
