[submodule "submodules/catppuccin-hyprland"]
	path = submodules/catppuccin-hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "submodules/catppuccin-rofi"]
	path = submodules/catppuccin-rofi
	url = https://github.com/catppuccin/rofi
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/hyprland-screenshot"]
	path = submodules/hyprland-screenshot
	url = https://github.com/mekb-turtle/hyprland-screenshot
[submodule "submodules/catppuccin-kvantum"]
	path = submodules/catppuccin-kvantum
	url = https://github.com/catppuccin/kvantum
[submodule "submodules/catppuccin-qt5ct"]
	path = submodules/catppuccin-qt5ct
	url = https://github.com/catppuccin/qt5ct
